@import "src/style/mixins.scss";

.navbar {
	-moz-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.55);
	-webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.55);
	align-items: center;
	border-bottom: 1px solid lightgrey;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.55);
	display: flex;
	justify-content: space-between;
	padding: 5px 8px;
	&__logo {
		height: 50px;
		width: 50px;
	}
	&__btn {
		@include button(primary);
		&__icon {
			height: 20px;
			margin-right: 5px;
			padding: 0;
			width: auto;
		}
	}
}
