@mixin button($type) {
	align-items: center;
	border-radius: 5px;
	border: none;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	cursor: pointer;
	@if $type == primary {
		background: #146356;
		color: white;
		font-weight: bold;
	}
}

@mixin input() {
	border-radius: 5px;
	border: 1px solid lightgray;
	font-size: 14px;
	padding: 0.5rem 0.2rem;
}
