@import "src/style/mixins.scss";
@import "src/style/variables.scss";

.form {
	&__section {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin: 10px 0px;
		&__input {
			@include input();
		}
	}
	&__footer {
		padding: 10px 0px;
		display: flex;
		flex-direction: row-reverse;
		gap: 10px;
		&__btn {
			@include button(submit);
		}
		&__btn--negative {
			@include button(danger);
		}
	}
}
